/* layoyt */
html,
body {
	height: 100%;
}

body {
	background: #fff;
	font-family: #000, 'Arial', 'Helvetica', sans-serif;
	min-width:940px;
	position: relative;
}
wrap {
    height: auto !important;
    min-height: 100%;
    position: relative;
    z-index: 1;
}
.inner {
    margin: 0 auto;
    width:940px;
    padding: 0 103px;
    height: 100%;
}

.menu_site {
    float: right;
}

.menu_site .menu__item {
    list-style: none outside;
    display: inline;
}

/* header < */

.header {
    background: url(../images/bg/blue-bg.png) repeat 0 0;
    height: 143px;
}
.header .inner {
    background: url(../images/bg/header-bg.png) no-repeat 50% 0;
}
.logo {
    margin-top:30px;
    float: left;
}
/* header > */

/* panorama < */
.panorama {
    position: relative;
    margin: 0;
    padding: 0;
    border: none;
}
.panorama-viewport {
    position: relative;
    width: 940px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    text-align: left;
}
.panorama-container {
    position: relative;
    width: 100000px;
    margin: 0;
    padding: 0;

}
.panorama-control {
    position: absolute;
    display: block;
    padding: 0;
    margin: 0;
    left: 0;
    width: 100%;
 }
.panorama-control-left, .panorama-control-right {
    float: left;
    padding: 0;
    margin: 0;
    color: white;
    text-decoration: none;
    font-size: 20px;
    line-height: 30px;
    width: 33%;
    text-align: center;
    font-family: 'Arial',sans-serif
}
.panorama-control-left:hover,
.panorama-control-right:hover {
    text-decoration: none;
}



